// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

.w-41 {
  width: 41.66666667%;
}

.modal-content {
  width: 45rem !important;
  left: -5rem !important;

  .modal-body {
    width: 45rem;
  }
}